/*
White: #FFFFFF
Black Wash: #0D0D0D
Gold: #FFD900
Blue: #0026FF
*/

html {
	background-color: #ffffff;
}

a {
	color: #0026ff;
}

#container {
	padding: 1rem;
	color: #0d0d0d;
	background-color: #ffd900;
	border: 1rem solid #0d0d0d;
}

#headline {
	font-size: 4rem;
}

img {
	width: 1.5rem;
}

#subhead {
	margin-left: 1.5rem;
}

ul {
	list-style: none;
}

ul li::before {
	content: '>';
}

ul li {
	padding: 0.5rem;
}

/* ul {
	list-style: url('./animated_globe.gif');
} */

footer {
	margin-left: 1.5rem;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
	#list {
		padding: 0;
		font-size: 0.8rem;
	}

	#subhead,
	footer {
		margin: 0 auto;
	}

	footer {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 360px) {
	#container {
		font-size: 1.5rem;
	}
	#headline {
		font-size: 2.5rem;
	}
	footer {
		font-size: 0.6rem;
	}
}
