:root {
	--black: #0d0d0d;
	--white: #ffffff;
	--gold: #ffd900;
	--blue: #0026ff;
}

html {
	background-color: var(--black);
}

a {
	color: #0026ff;
}

#container {
	padding: 1rem;
	color: var(--black);
	background-color: var(--gold);
	border: 1rem solid var(--black);
	font-size: 1.3rem;
}

#headline {
	font-size: 5rem;
}

img {
	width: 1.5rem;
}

#subhead {
	margin-left: 1.5rem;
}

ul {
	list-style: none;
}

ul li::before {
	content: '>';
}

ul li {
	padding: 0.5rem;
}

/* ul {
	list-style: url('./animated_globe.gif');
} */

footer {
	/* margin-left: 1.5rem; */
	margin: 1.5rem;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 600px) {
	#container {
		border: 0.5rem solid var(--black);
		font-size: 1.25rem;
	}

	#headline {
		font-size: 3.5rem;
	}

	#list {
		padding: 0;
		font-size: 0.8rem;
	}

	#subhead,
	footer {
		margin: 0 auto;
	}

	#subhead {
		font-size: 0.9rem;
	}

	footer {
		font-size: 0.75rem;
	}
}

@media screen and (max-width: 360px) {
	#container {
		font-size: 1.5rem;
	}
	#headline {
		font-size: 2.5rem;
	}
	footer {
		font-size: 0.6rem;
	}
}
