<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
			media="screen" />
		<title>Candyfloss Outlets</title>
		<link
			rel="icon"
			type="image/x-icon"
			href="{{ url_for('static', filename='favicon.ico') }}" />
	</head>
	<body>
		<div id="container">
			<header>
				<div id="head">
					<span id="headline">Candyfloss</span>
					<img
						src="{{ url_for('static', filename='animated_globe.gif') }}"
						alt="candyfloss-logo" />
				</div>
				<div id="subhead">
					<div>Your digital music newspaper, curated by Brady Gerber</div>
					<div>Today is <span>{{ date }} UTC</span></div>
					<br />
					<div>List of Candyfloss outlets (w/ RSS links)</div>
				</div>
			</header>
			<main>
				<ul id="list">
					{% for row in rows|sort(attribute='publication') %}
					<li key="{{row.id}}" class="list-item">
						<a href="{{row.feed_url}}" rel="noopener noreferrer"
							>{{row.publication}}</a
						>
					</li>
					{% endfor %}
				</ul>
			</main>
			<footer>
				candyfloss is a digital newspaper aggregating the latest music news and
				longform writing (and occasional sports link) built and curated by brady
				gerber | author credit is given whenever possible | this app is indeed named
				after the
				<a
					href="https://www.youtube.com/watch?v=C0frSzIIgHU"
					target="_blank"
					rel="noopener noreferrer"
					>wilco</a
				>
				song |
				<a href="https://bradygerber.com/" target="_blank" rel="noopener noreferrer"
					>website</a
				>
				|
				<a href="https://www.opemag.com/" target="_blank" rel="noopener noreferrer"
					>OPE!</a
				>
				|
				<a
					href="https://bradywgerber.substack.com/"
					target="_blank"
					rel="noopener noreferrer"
					>newsletter</a
				>
				|
				<a
					href="https://twitter.com/BradyWGerber"
					target="_blank"
					rel="noopener noreferrer"
					>twitter</a
				>
				|
				<a
					href="https://www.linkedin.com/in/brady-gerber/"
					target="_blank"
					rel="noopener noreferrer"
					>linkedin</a
				>
				|
				<a
					href="https://github.com/bg-write/candyfloss-flask"
					target="_blank"
					rel="noopener noreferrer"
					>github</a
				>
				|
				<a
					href="https://myreps.datamade.us/"
					target="_blank"
					rel="noopener noreferrer"
					>find your local reps</a
				>
				|
				<a
					href="https://www.paypal.com/paypalme/BGerber654?locale.x=en_US"
					target="_blank"
					rel="noopener noreferrer"
					>donate to my coffee fund</a
				>
				| © 2023 brady gerber all rights reserved
			</footer>
		</div>
	</body>
</html>
