<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles.css') }}"
			media="screen" />
		<title>
			Candyfloss | Your Digital Music Newspaper, Curated By Brady Gerber
		</title>
		<link
			rel="icon"
			type="image/x-icon"
			href="{{ url_for('static', filename='favicon.ico') }}" />
	</head>
	<body>
		<div id="container">
			<main>
				<div>Hello, db.</div>
			</main>
		</div>
	</body>
</html>
